dialog#dlgDeleteUser
  article
    header
      h3 Radera anv&auml;ndare
    p
      | &Auml;r du s&auml;ker p&aring; att du vill radera anv&auml;ndaren 
      strong#deleteUserEmail &mdash;
      | ?
    footer.grid
      button#btnConfirmDelete.contrast Ja, radera
      button.secondary(type='button' data-close='dlgDeleteUser') Avbryt